* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #111;
  color: white;
  overflow: hidden;
}

#lobby {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #000, #7a0000, #d40000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  text-align: center;
}

#lobby h1 {
  font-size: 38px;
  color: red;
  text-shadow: 0 0 15px black;
}

#lobby button {
  padding: 18px 45px;
  border: none;
  border-radius: 15px;
  background: red;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

#gameArea {
  display: none;
  width: 100%;
  height: 100vh;
  position: relative;
  background: #222;
}

canvas {
  width: 100%;
  height: 100%;
  background: #2d5c2d;
}

#healthBox, #inventory {
  position: absolute;
  top: 15px;
  background: black;
  padding: 10px 15px;
  border-radius: 10px;
  z-index: 10;
  border: 2px solid red;
}

#healthBox {
  left: 15px;
}

#inventory {
  right: 15px;
}

#controls {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#controls button {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  background: red;
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin: 5px;
}
